@font-face {
    font-family: "p";
    src: url(../static/fonts/Pixel_Sans_Serif.ttf);
}

body {
    overflow: hidden;
    font-family: "p";
    background: #D9D9D9;
}
p {
    cursor: default;
}
div {
    cursor: default;
}
/* DESKTOP */

.back {
    background: #34B1BF;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.nav-icons {
    position: absolute;
    left: 0;
    top: 0;
    width: min-content;
    height: 80vh;
}
.nav-icon {
    position: absolute;
    left: 2.5vw;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    overflow: visible;
    z-index: 2;
    opacity: 1;
}
.nav-icon.selected {
    z-index: 3;
    opacity: 0.6;
}
#guide {
    top: 5vh;
}
#bounty {
    top: 20vh;
}
#crew {
    top: 35vh;
}
#case {
    top: 50vh;
}
#shop {
    top: 65vh;
}
.icon img {
    width: 150%;
    margin-inline-start: 100%;
    transform: translateX(-50%);
}
.nav-name {
    line-height: auto;
    color: #050505;
    cursor: default;
    font-size: 5px;
    text-align: center;
    width: 200%;
    margin-top: -40%;
}
::selection {
    background-color: transparent;
    color: #050505;
}
input::selection {
    background-color: #184cb4;
    color: #f8f8f8;
}
.group {
    position: relative;
    left: 0;
    top: 0;
}
.rect {
    position: absolute;
    border: #050505 1px solid;
    transform-origin: left top;
    z-index: 3;
}

/* MENU */

.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    background: #D9D9D9;
    z-index: 3;
}
[class$="btn"]
{
    border: #050505 1px solid;
    background: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 2px #050505;
    cursor: pointer;
}
[class$="btn"] p {
    cursor: pointer;
}
[class$="btn"]:hover {
    background: #ADADAD;
}
 .login-btn, .register-btn {
    position: absolute;
    height: 2.5vh;
    width: 5vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5px;
}
.login-btn {
    left: 2.5vw;
}
.register-btn {
    left: 10vw;
}

/* COMMUNITY */

[class$="window"] {
    border: #050505 1px solid;
    background: #D9D9D9;
    position: absolute;
    width: 0;
    height: 0;
    z-index: 4;
}
[class^="full"] {
    left: 50%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    width: 97.5vw;
    height: 90vh;
    display: none;
}
[class$="box"] {
    border: #050505 1px solid;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
[class$="partition"] {
    border-bottom: #050505 1px solid;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 10px;
    height: 10%;
}

.community-window {
    right: 2.5vw;
    top: 5vh;
    height: 70vh;
    width: 45vw;
}
.msgs {
    position: absolute;
    top: 25%;
    height: 55%;
    width: 100%;
    left: 0;
    overflow-y: auto;
}
.msg-container {
    width: 100%;
    margin-bottom: 2.5em;
    display:grid;
    grid-template-areas: 10% 90%;
    position: relative;
}
.msg {
    position: absolute;
    width: min-content;
    text-wrap:nowrap;
    font-size: 7px;
    border: #050505 1px solid;
}
.msg p {
    padding: 0 2em;
}
#r {
    left: 5em;
}
#s {
    right: 5em;
}
#r, #r p {
    direction: ltr;
    float: left;
}
#s, #s p {
    direction: rtl;
    float: right;
}
input {
    outline: none;
    background: transparent;
    border-radius: none;
    border: none;
    font-family: 'p';
    font-size: 9px;
    text-align: center; 
    width: 100%;
    height: 100%;
}
input:focus {
    outline: none;
    background: transparent;
}
.msg-btn {
    position: absolute;
    bottom: 5%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: 8%;
    pointer-events:none;
}
.hero {
    text-align: center;
    position: relative;
    top: 0;
    font-size: 28px;
    width: 100%;
}
.close {
    position: absolute;
    right: 0.5em;
    top: 0.75em;
    cursor: pointer;
    z-index: 2;
}
.close img {
    max-width: 1.5em;
}
form * {
    position: absolute;
}
form input[type="text"],form input[type="password"]  {
    width: min-content;
    height: min-content;
    border-bottom: #050505 1px solid;
    text-align: left;
    width: 15vw;
    cursor: text;
}
form input[type="submit"] {
    border: #050505 1px solid;
    box-shadow: 1px 1px 2px #050505;
    bottom:5vh;
    width: 20vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
form input[type="submit"]:hover {
    background: #ADADAD;
}
form *:nth-child(1) {
    top: 30vh;
    left: 2.5vw;
}
form *:nth-child(2) {
    top: 40vh;
    left: 2.5vw;
}
form *:nth-child(3) {
    top: 50vh;
    left: 2.5vw;
    font-size: 9px;
    width: 15vw;
    height: 5%;
    text-wrap: nowrap;
    cursor: pointer;
}
.invalid {
    position: absolute;
    left: 2.5vw;
    top: 57.5vh;
    font-size: 12px;
}
.mailed {
    height: min-content;
    text-wrap: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.account {
    position: absolute;
    font-size: 9px;
    left: 2.5vw;
}
.logout-btn {
    position: absolute;
    font-size: 7px;
    width: 5vw;
    height: 2.5vh;
    left: 17.5vw;
    top: 50%;
    transform: translateY(-50%);
}
.wallet {
    position: absolute;
    right: 1.5vw;
    line-height: 0;
    display: grid;
    grid-template-columns: auto auto;
    width: 5vw;
}
.amount {
    font-size: 12px;
    margin-block-start: 0.5vh;
    margin-inline-start: -1.5vw
}
.coins {
    margin-block-start: -0.25vh;
}
.coins img {
    max-height: 2em;
}
.ongoing-btn {
    position: absolute;
    right: 7.5vw;
    width: 10vw;
    font-size: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.cross, .maximize, .restore {
    cursor: pointer;
}
/* GUIDE */

.top-navbar {
    width: 100%;
    height: 7.5%;
    position: absolute;
    left: 0;
    top:0;
}
.pgname {
    position: absolute;
    width: min-content;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #050505 1px solid;
    border-top: none;
    font-size: 12px;
    text-wrap: nowrap;
}
.pgname p {
    padding: 0 1.5em;
}
.iconcontrols {
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
    border-left: #050505 1px solid;
    border-bottom: #050505 1px solid;
    display: grid;
    grid-template-columns: auto auto;
}
.iconcontrols * {
    margin-block-start: 0.25em;
    margin-inline-start: 0.625em;
}
.iconcontrols * img {
    max-width: 1.5em;
}
.entities-box {
    position: absolute;
    top: 12.5%;
    left: 2.5%;
    width: 30%;
    height: 80%;
}
.info-box {
    position: absolute;
    top: 12.5%;
    left: 35%;
    width: 62.5%;
    height: 80%;
}
.entities-grid {
    position: absolute;
    top: 15%;
    height: 75%;
    display: grid;
    width: 90%;
    left: 0;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 7.5vh 7.5vh 7.5vh;
    column-gap: 5%;
    row-gap: 5%;
    margin: 5%;
}
.entities-grid div {
    width: 100%;
    height: 100%;
    font-size: 9px;
}
.info-box div {
    display: none;
}
.info-box div p {
    width: 95%;
    text-align: left;
}
.info-box div p:nth-child(1) {
    font-size: 15px;
    position: absolute;
    left: 2.5vw;
    top: 2.5vh;
}
.info-box div p:nth-child(2), .info-box div p:nth-child(3), .info-box div p:nth-child(4) {
    font-size: 12px;
    position: absolute;
    left: 2.5vw;
}
.info-box div p:nth-child(2) {
    top: 15vh;
}
.info-box div p:nth-child(3) {
    top: 30vh;
}
.info-box div p:nth-child(4) {
    top: 45vh;
}

/* BOUNTY */


.bar {
    position: absolute;
    top: 15%;
    display: grid;
    left: 2.5vw;
    width: 80%;
    grid-template-columns: 90% 10%;
    height: 2em;
    column-gap: 1em;
}
.search-btn {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5% 95%;
}
.dropdown {
    background: #D9d9d9;
    border-radius: none;
    width: 100%;
    height: 100%;    
    margin-block-start: .09375em;
    margin-inline-start:.5em;
    font-family: "p";
    font-size: 9px;
    border: #050505 1px solid;
    box-shadow: 1px 1px 2px #050505;
    text-align-last: center;  
}
.dropdown:focus {
    border-radius: none;
    outline: none;
}
.dropdown:hover {
    background: #ADADAD;
}
.search-icon img {
    max-height: 1em;
}
.search-btn input {
    text-align: left;
}
.scrolljudge {
    overflow-y: auto;
    overflow-x: hidden;
    height: 65%;
    width: 95%;
    position: absolute;
    left: 2.5%;
    top: 30%;
}
.cards {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 67% 67%;
    column-gap: 1.5em;
    row-gap: 1em;
    height: 100%;
    width: 100%;
}
.card {
    width: 100%;
    height: 100%;
    border: #050505 solid 1px;
}
.top {
    width: 100%;
    height: 15%;
    background: #ADADAD;
    border-bottom: #050505 solid 1px;
    font-size: 11px;
}
.target {
    width: min-content;
    display: grid;
    grid-template-columns: 50% 10% 40%;
    column-gap: .5em;
    line-height: auto;
    margin-inline-start: 50%;
    transform: translateX(-50%);
}
.icon-coin {
    margin-inline-start: -0.75em;
}
.icon-coin img {
    max-height: 4.5em;
}
.bottom {
    position: relative;
    width: 100%;
    height: 85%;
    top: 0;
    overflow: hidden;
}
.bg img {
    position: absolute;
    left: 50%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    border: #050505 1px solid;
    max-width: 110%;
}
.accept-btn {
    position: absolute;
    bottom: 1.5vh;
    width: 35%;
    height: 3.5vh;
    left: 50%;
    transform: translateX(-50%);
    background: #D9D9D9;
    font-size: 7px;
}

/* ongoing investigations */

.missions-window {
    display: none;
    height: 85vh;
    width: 30vw;
    left: 75vw;
    top: 47.5vh;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.mission {
    position: absolute;
    top: 10%;
    left: 0;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.mission .banner {
    margin-block-start: 0.5em;
    max-width: 16.6725vw;
}

/* crew */

.dispatch-box {
    position: absolute;
    left: 2.5vw;
    top: 12.5%;
    width: 30%;
    height: 80%;
    display: block;
}
.help-text {
    width: 95%;
    margin-inline-start: 2.5%;
    text-align: center;
    font-size: 11px;
    margin-block-start: 5%;
}
.team {
    margin-block-start: 7.5%;
}
.person {
    display: grid;
    grid-template-columns: 5% 95%;
    font-size: 8px;
    margin-inline-start: 5%;
    margin-bottom: 2.5%;
}
.person img {
    max-height: 4em;
}
.pname {
    text-align: left;
    margin-inline-start: 7.5%;
}
.dispatch-btn {
    position: absolute;
    width: 40%;
    height: 10%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.5vh;
    font-size: 10px;
}
.map-box {
    position: absolute;
    left: 35%;
    top: 12.5%;
    height: 65%;
    width: 62.5%;
}
.map-box iframe {
    width: 100%;
    height: 100%;
}
.legend-box {
    position: absolute;
    top: 82.5%;
    left: 35%;
    width: 62.5%;
    height: 10%;
}
.location {
    display: grid;
    grid-template-columns: auto auto;
    width: min-content;
}
.location img {
    max-height: 1.5em;
    margin-block-start: 0.375em;
    margin-inline-start: -.5em;
}
.location p {
    text-wrap: nowrap;
    font-size: 10px;
}

/* cases */

.full-case-window .bar {
    width: 85%;
    grid-template-columns: 85% 15%;
}
.upload-btn {
    width: 100%;
    height: 100%;
    font-size: 9px;
}
.cases {
    position: absolute;
    display: grid;
    left: 2.5%;
    top: 30%;
    width: 95%;
    height: 65%;
    grid-auto-rows: 48.75%;
    row-gap: 10%;
    grid-template-columns: auto auto auto;
    column-gap: 5%;
    overflow-y: auto;
    overflow-x: hidden;
}
.folder {
    position: relative;
    width: 100%;
    height: 100%;
}
.folder:nth-child(3n) {
    margin-left: -5px;
}
.folder:nth-child(3n-1) {
    margin-left: -2.5px;
}
.main-body {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    border: #050505 solid 1px;
    background: #D9D9D9;
    z-index: 6;
}
.upper-fold {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 10%;
    z-index: 5;
}
.right-fold {
    position: absolute;
    right: 0;
    border-top-right-radius: 15px;
    width: 90%;
    z-index: 4;
    height: 2.5%;
    top: 7.5%;
    border: #050505 solid 1px;
}
.main-body, .main-body *, .upper-fold, .upper-fold *, .right-fold, .right-fold * {
    cursor: pointer;
}
.folder-title {
    width: min-content;
    height: min-content;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.folder-title p:nth-child(1) {
    margin-block-start: 0em;
    font-size: 14px;
    text-wrap: nowrap;
}
.folder-title p:nth-child(2) {
    margin-block-start: -1.5em;
    font-size: 10px;
    text-wrap: nowrap;
}

/* case upload */

.upload-window {
    display: none;
    height: 75vh;
    width: 50vw;
    left: 65vw;
    top: 47.5vh;
    transform: translate(-50%, -50%);
}
.upload-bottom {
    position: absolute;
    top: 10%;
    height: 90%;
    width: 100%;
}
.upload-heading {
    position: absolute;
    left: 2.5vw;
    top: 5vh;
    font-size: 16px;
}
.upload-input {
    position: absolute;
    top: 12.5vh;
    left: 2.5vw;
    text-align: left;
    width: 30vw;
    height: min-content;
    border-bottom: 1px solid #050505;
}
.upload-quotes {
    position: absolute;
    left: 2.5vw;
    top: 20vh;
    font-size: 16px;
}
.upload-quote {
    position: absolute;
    top: 27.5vh;
    left: 2.5vw;
    text-align: left;
    width: 30vw;
    height: min-content;
    border-bottom: 1px solid #050505;
}
.upload-imgs {
    position: absolute;
    top: 45vh;
    left: 2.5vw;
    height: 10vh;
}
.upload-imgs img {
    height: 10vh;
}
.upload-imgs-btn {
    position: absolute;
    top: 35vh;
    left: 2.5vw;
    width: 15vw;
    height: 5vh;
    font-size: 8px;
}
.upload-create-btn {
    position: absolute;
    bottom: 5vh;
    width: 15vw;
    height: 5vh;
    font-size: 8px;
    left: 50%;
    transform: translateX(-50%);
}

/* clues */

.clues-window {
    display: none;
    height: 75vh;
    width: 50vw;
    left: 65vw;
    top: 47.5vh;
    transform: translate(-50%, -50%);
}
.header {
    position: absolute;
    top: 15%;
    width: 100%;
    font-size: 10px;
    text-align: center;
}
.imgs {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 47.5% 47.5%;
    column-gap: 5%;
    row-gap: 5%;
}
.imgs img {
    height: 100%;
    width: 100%;
}

.bar:has(#search-shop) {
    left: 10%;
    display: block;
}
#search-shop {
    width: 100%;
}
.items {
    position: absolute;
    top: 27.5%;
    height: 67.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 5%;
    row-gap: 7.5%
}
.item {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #050505;
}
.item-banner {
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
}
.item-banner img {
    height: 100%;
}
.right-side {
    position: absolute;
    left:52.5%;
    top: 0;
    height: 100%;
    width: 47.5%;
    font-size: 10px;
}
.item-head {
    margin-block-start: 5%;
    letter-spacing: 1.4%;
}
.item-desc {
    font-size: 7px;
}
.item-cost {
    display: grid;
    grid-template-columns: 17.5% 82.5%;
    width: 100%;
    margin-block-start: -.5em;
    margin-inline-start: -1em;
}
.buy-now-btn {
    position: absolute;
    bottom: 5%;
    left: 0%;
    width: 65%;
    height: 15%;
    font-size: 8px;
}